        <!--NAVBAR -->
<div>
  <div class="container-fluid" role="navigation">
    <div class="row text-center align-items-center g-0">
      <!-- LIENS DE NAVIGATION -->
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="d-flex justify-content-around border-top border-bottom border-primary border-2">
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('home_swish')}}">Accueil</a></div>
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_calendar_show') }}">Participer</a></div>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_jouer_match')}}">Créer un évènement</a></div>
          {% endif %} 
          {% if is_granted('ROLE_ADMIN') %}
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_admin_dashboard')}}">Dashboard</a></div>
          {% endif %}
        </div>
      </div>
      
      <!-- LOGO -->
      <div class="col-lg-2 col-md-2 col-sm-12 mx-auto text-center">
        <a class="navbar-brand" href="{{ path('home_swish') }}">
          <img src="{{ asset('images/newlogo.png')}}" style="width: 100px;" /> 
        </a>
      </div>
      
      <!-- LIENS DE CONNEXION ET DE PROFIL -->
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="d-flex justify-content-around border-top border-bottom border-primary border-2">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <div class="customLink"><a class="d-inline-block p-3" href="{{path('app_profil_index')}}">Mon profil</a></div>
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_logout') }}">Déconnexion</a></div>
          {% else %}
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_register') }}">Inscription</a></div>
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_login') }}">Connexion</a></div>
          {% endif %} 
          <div class="customLink"><a class="d-inline-block p-3" href="{{path('app_contact')}}">Contact</a></div>
        </div>
      </div>
    </div>
  </div>
</div>


