{# NAVBAR #}

<div>
  <div class="container-fluid" role="navigation">
    
    <div class="row text-center align-items-center g-0">
      <div class="col-lg-5 col-md-5 d-none d-lg-block d-md-block d-xs-none ms-auto">
        <div class="d-flex justify-content-around border-top border-bottom border-primary border-2">
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_terrain')}}">Playgrounds</a></div>
          <div class="customLink"><a class="d-inline-block p-3" href="#">Team</a></div>
          <div class="customLink"><a class="d-inline-block p-3" href="#">Jouer</a></div>
           {% if is_granted('ROLE_ADMIN') %}
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_admin_dashboard')}}">Dashboard</a></div>
           {% endif %}
        </div>
        </div>
          
      <div class="col-lg-2 col-md-2 mx-auto" style="max-width:120px;">
         <a class="navbar-brand" href="{{ path('home_swish') }}">
            <img src="{{ asset('images/newlogo.png')}}" style="width: 100px;" /> 
        </a>
      </div>

      <div class="col-lg-5 col-md-5 d-none d-lg-block d-md-block d-xs-none me-auto">
        <div class="d-flex justify-content-around border-top border-bottom border-primary border-2">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <div class="customLink"><a class="d-inline-block p-3" href="{{path('app_profil_index')}}">Mon profil</a></div>
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_logout') }}">Déconnexion</a></div>
          {% else %}
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_register') }}">Inscription</a></div>
          <div class="customLink"><a class="d-inline-block p-3" href="{{ path('app_login') }}">Connexion</a></div>
          {% endif %} 
           <div class="customLink"><a class="d-inline-block p-3" href="{{path('app_contact')}}">Contact</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
