{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    <h1 class="text-center my-3 display-5" >Modifier mon profil</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{ form_start(form) }}
                    <div class="mb-3">
                        <label for="edit_profile_user_form_prenomUser">Prénom</label>
                        {{ form_widget(form.Prenom) }}
                        <label for="edit_profile_user_form_ nomUser">Nom</label>
                        {{ form_widget(form.Nom) }}
                        <label for="edit_profile_user_form_email">Email</label>
                        {{ form_widget(form.email) }}
                        <label for="edit_profile_user_form_adresseUser">Adresse</label>
                        {{ form_widget(form.Adresse) }}
                        <label for="edit_profile_user_form_adresseUser">Tel</label>
                        {{ form_widget(form.Tel) }}
                        <label for="edit_profile_user_form_email"></label>
                        {{ form_widget(form.plainPassword) }}
                        
                    </div>
                    <div>
                        <input type="submit" value="Modifier" class="btn btn-outline-primary shadow ms-3">
                        <a class="btn btn-outline-primary shadow ms-2" href="{{path('app_profil_index')}}">Retour</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    
{#     
    <button class="btn btn-dark col-2 mt-2">{{ button_label|default('Enregistrer') }}</button> #}
{% endblock %}