{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <!-- Carrousel Bootstrap -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="{{asset('images/pground2.webp')}}" class="d-block w-100" alt="Carrousel slide 1">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{{asset('images/pground.jpg')}}" class="d-block w-100" alt="Carrousel slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="{{asset('images/pground4.jpg')}}" class="d-block w-100" alt="Carrousel slide 3">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>
</div>

<div class="container text-center">    
    <h3>Notre concept</h3><br>
    <div class="row">
        <div class="col-md-4 mb-3">
            <img src="{{asset('images/play1.jpeg')}}" class="img-fluid" alt="Image">
        </div>
        <div class="col-md-4 mb-3"> 
            <img src="{{asset('images/play2.jpeg')}}" class="img-fluid" alt="Image">
        </div>
        <div class="col-md-4 mb-3">
            <div class="well">
                <h2>Ensemble sur le terrain, unis par la passion du basket ! Transformez votre amour pour le jeu en moments inoubliables.</h2>
            </div>
        </div>
    </div>
</div>

<div class="bg-secondary-subtle py-5 mt-4">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Un entraînement ou un match - décrivez votre événement et découvrez une multitude de terrains à proximité de chez vous.</h1>
                    <p class="lead fw-normal text-white-50 mb-4">"Certains veulent que ça arrive. D'autres aimeraient que ça arrive. Et les autres font que ça arrive." - Michael Jordan</p>
                    <p class="text-white text-opacity-75">Michael Jordan</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Jouer</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://data.iledefrance.fr/explore/embed/dataset/recensement_des_equipements_sportifs_a_paris/map/?disjunctive.actlib&refine.actlib=Basket-Ball&location=13,48.85863,2.34901&basemap=mapbox.outdoors&static=false&datasetcard=false&scrollWheelZoom=true" class="embed-responsive-item" width="600" height="400" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}






